<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Alunos </title>
 
</head>
<body>
    <form  action="aluno" method="post">
        <div class="name">
            <label> Nome  </label>
            <input type="text" name="name"  placeholder="Digite aqui">
        </div>
        <div class="email">
            <label> E-mail </label>
            <input type="email" name="email"  placeholder="Digite aqui">
        </div>
                        <div class="ruas">
                            <label> Endereço </label>
                            <input type="text" name="endereco" placeholder="Digite aqui">
                        </div>
     
        <button class="cadastrar" type="submit" > Cadastrar </button>
    </form>
    
</body>
</html>
