<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora</title>
</head>

<body>
    <form action="/calcula" method="POST">
        <label>Digite um numero inteiro qualquer: </label><input type="text" id="valor1" name="valor1"> <br>
        <label>Digite outro numero inteiro qualquer: </label><input type="text" id="valor2" name="valor2"> <br>
        <label>Digite uma das operacoes matematicas que deseja usar (soma, subtracao, multiplicacao ou divisao): </label><input type="text" id="operacao" name="operacao">
        <input type="submit" name="enviar">
    </form>
</body>

</html>
